video {
    width: calc(16px * 90);
    height: calc(9px * 90);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 1700px) {
    video {
        width: calc(16px * 70);
        height: calc(9px * 70);
    }
}

@media screen and (max-width: 1400px) {
    video {
        width: calc(16px * 50);
        height: calc(9px * 50);
    }
}


@media screen and (max-width: 900px) {
    video {
        width: 100%;
        height: calc(9px * 50);
    }
}