
.page-wrapper {
    overflow: hidden;

}

.page-body {
    width: 100%;
    height: 100%;
    .right-module {
        width: 550px;
        right: 8%;
        height: 550px;
        background-image: url('/assets/logo/testlogo.png');
        z-index: 1;
    }
    .left-module {
        left: 8%;
        z-index: 10;
        h1, h2 {
            font-size: 110px;
            font-weight: 700;
            color: #2D394B;
        }
        h2 {
            color: white;
            -webkit-text-stroke: 2px black;
        }
        p {
            font-size: 28px;
            width: 80%;
            color: #C0CBDD;
            font-weight: 400;
            margin-top: 30px;
            margin-bottom: 60px;
        }
        a {
            background: #197BFF;
            color: white;
            padding: 12px 40px;
            font-weight: 600;
            border-radius: 5px;
        }
    }
}

@media screen and (max-width: 1700px) {
    .page-body {
        .left-module {
            left: 80px;
            h1, h2 {
                font-size: 80px;
            }
            p {
                font-size: 22px;
            }
        }
        .right-module {
            width: 450px;
            height: 450px;
            right: 80px;
        }
    }
}

@media screen and (max-width: 1200px) {
    .right-module {
        width: 100vw !important;
        height: 100vh !important;
        position: fixed;
        top: 40% !important;
        right: -30% !important;
        opacity: 0.1;
    }
}

@media screen and (max-width: 900px) {
    .left-module {
        left: 25px !important;
    }
    .right-module {
        right: 0px !important;
    }
}

@media screen and (max-width: 600px) {
    .left-module {
        h1, h2 {
            font-size: 65px !important;
        }
        p {
            font-size: 18px !important;
            margin-top: 20px !important;
            margin-bottom: 45px !important;
        }
    }
    
}