<div class="page-wrapper">
    <app-navigation></app-navigation>
    <div class="page-body">
        <div class="header-section">
            <div class="cent-box fullCenter">
                <h2>Our Content</h2>
                <input type="text" #search placeholder="Search HillviewTV" (keyup)="beginSearch($event)">
            </div>
        </div>
        <div class="video-container">
            <div class="video-wrapper fullXCenter">
                <div class="video" *ngFor="let video of videos" (click)="navigateToVideo(video.id)">
                    <div class="content">
                        <h1>{{video.title}}</h1>
                        <p>{{video.description}}</p>
                        <a href="/videos/v/{{video.id}}">Click To Watch ></a>
                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-play fullCenter"><polygon points="5 3 19 12 5 21 5 3"></polygon></svg>
                    <div class="bkg"></div>
                    <div class="thumbnail reg-image" [ngStyle]="{'background-image': 'url('+video.thumbnail+')'}"></div>
                </div>
            </div>
            <button class="fullXCenter lmb" (click)="getNextGroup()" *ngIf="!bools.isSearching && videos.length > 0">Load More</button>
            <button class="fullXCenter lmb" (click)="loadNextSearchable()" *ngIf="bools.isSearching && videos.length > 15">Show More</button>
        </div>
    </div>
</div>